$primary-color:#004AA1;
$text-color:#ffffff;
$border-color:#D1D1D1;
$link-color:#696969;
$background-color:rgba(0, 74, 162, 0.08);
$sold-color:#219653;
$credit-color:#9B51E0;
$mortgage-color:#EA8A31;
$empty-color:#004AA1;
$values-color:#717171;
$card-header-color:#3e3e3e;
$legends-color:#b5b5b5;
$select-button-color: rgba(0, 74, 162, 0.08);
$select-text-color:#404040;
$button-border-color:#BDBDBD;
$paragraph-color:#777777;
$disabled-color:#EBF1F8;
