@import "./variables";
.building-rows-wrapper {
  overflow-y: scroll;
  height: 64.5vh;
}
.building-remove {
  display: none;
}
.table-credit-headers {
  display: grid;
  grid-template-columns: repeat(7, 0.7fr);
  width: 72vw;
  margin-left: 50px;
}
.buildings-info-row {
  display: grid;
  grid-template-columns: 1fr 0.7fr 0.8fr 0.8fr 1fr 0.6fr 0.7fr 0.3fr;
  background-color: $text-color;
  height: 55px;
  margin-top: 15px;
  margin-left: 34px;
  border-radius: 7px;
  padding: 15px;
  width: 74.5vw;
  align-items: center;
  justify-content: center;
  &:hover{
      cursor: pointer;
  }
}
.sold-table-headers {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 71.5vw;
  margin-left: 58px;
}
.sold-buildings-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: $text-color;
  height: 55px;
  margin-top: 15px;
  margin-left: 34px;
  border-radius: 7px;
  padding: 20px;
  width: 74.5vw;
  align-items: center;
  justify-content: center;
}
.table-headers {
  margin-top: 25px;
  h5 {
    color: $primary-color;
  }
}
.room {
  display: flex;
  align-items: center;
  img {
    margin: 0 5px 0 15px;
  }
}
.status{
    display: flex;
    align-items: center;
    img{
        margin-right:5px;
    }
}
@media only screen and (max-width:768px){
  .table-credit-headers {

    width: 85vw;
    margin-left: 70px;
  }
  .buildings-info-row {
    grid-template-columns: 1.2fr 0.7fr 0.8fr 0.8fr 1fr 0.6fr 0.7fr 0.3fr;
    margin-left: 40px;

    width: 89vw;

  }
  .sold-table-headers {

    width: 84.5vw;
    margin-left: 62px;
  }
  .sold-buildings-row {
    margin-left: 40px;
     width: 89vw;
  }
}