@import "./variables";
.buildings{
  overflow-y: none;
  position: relative;
}
.buildings-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
  button {
    padding: 8px 18px;
    background-color: $text-color;
    border: 1px solid $button-border-color;
    border-radius: 7px;
    margin-left: 10px;
    &:hover {
      cursor: pointer;
      background-color: $primary-color;
      color: $text-color;
    }
  }
  .time {
    display: flex;
    flex-direction: column;
    //align-items: center;
    justify-content: center;
    height: 10px;
    margin-left: 20px;
    .line {
      height: 18px;
      margin-left: 4px;
      transform: translateY(-4px);
    }
  }
}
.date {
  display: flex;
  flex-direction: row;
  p {
    font-size: 12px;
    margin-left: 10px;
  }
}
.buildings-header-container {
  background: $text-color;
  padding-bottom: 15px;
  .buildings-menu {
    margin-top: 40px;
    margin-left: 30px;
    ul {
      list-style: none;
      display: flex;
    }
  }
}
.card-filter {
  margin-right: 75px;
}
.cards-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 120px;
  .add-new-btn {
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    background-color: $primary-color;
    color: $text-color;
    i {
      padding: 0 10px;
    }
    &:hover {
      cursor: pointer;
      background-color: $text-color;
      color: $primary-color;
      border: 1px solid $primary-color;
    }
  }
}



