@import "./variables";
.header-wrapper {
  width: 84vw;
  height: 70px;
  background-color: $text-color;
  border-bottom: 1px solid $border-color;
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
  }
}
.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    margin-right: 10px;
  }
  .profile-info {
    display: flex;
    flex-direction: column;
  }
}
