@import "./variables";
.header-wrapper {
  z-index: 1;
  width: 84vw;
  height: 70px;
  background-color: $text-color;
  border-bottom: 1px solid $border-color;
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
  }
}
.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    margin-right: 10px;
  }
  .profile-info {
    display: flex;
    flex-direction: column;
  }
}
.hamburger-btn{
  display:none;
}
@media only screen and (max-width: 1024px) {
.header-wrapper{
width:100vw;
}
.hamburger-btn{
  display:inline;
  z-index:999999;
}
.closed-button{
  transform: translateX(230px);
}

}
@media only screen and (max-width: 768px) {
  .hamburger-btn{
    display:inline;
    z-index:999999;
  }
 
  }

