@import "./variables";
@import "./mixins";
.header-wrapper {
  z-index: 1;
  width: 84vw;
  height: 70px;
  background-color: $text-color;
  border-bottom: 1px solid $border-color;
  .header {
    @include row-space;
    padding: 12px 30px;
  }
}
.profile {
 @include row;
  img {
    margin-right: 10px;
  }
  .profile-info {
@include column;
  }
}
.hamburger-btn{
  display:none;
}
@media only screen and (max-width: 1024px) {
.header-wrapper{
width:100vw;
}
.hamburger-btn{
  display:inline;
  z-index:999999;
}
.closed-button{
  transform: translateX(230px);
}

}
@media only screen and (max-width: 768px) {
  .hamburger-btn{
    display:inline;
    z-index:999999;
  }
 
  }

