@import "./variables";
@import "./mixins";

.listed-items {
  ul {
    list-style-type: none;
    li {
      @include row-space;
      margin-top: 7px;
    }
  }
}
.statistics-card {
  width: 48%;
  height:350px;
  background: $text-color;
  padding: 15px 30px;
  border-radius: 15px;
  h4 {
    font-size: 18px;
    color: $card-header-color;
    margin-bottom: 15px;
  }
}
.item-text {
  p {
    font-size: 15px;
    color: $card-header-color;
    font-weight: bold;
    margin-right: 40px;
  }
}
.listed-item {
  .listed-item-info {
    @include row;
  }
  img {
    margin-right: 10px;
  }
}
.item-value {
  font-size: 18px;
  font-weight: bold;
  color: $values-color;
}
@media only screen and (max-width: 768px) {
  .statistics-card {
    width: 65%;
    padding: 15px 10px;
    margin-right: 10px;

    h4 {
      font-size: 16px;
      margin-bottom: 7px;
    }
  }
  .item-text{
    small{
      display: none;
    }
  }
}
