@import "./variables";
.statistics-wrapper {
  padding: 20px 20px 10px 35px;
  height: 90.5vh;
  .chart-wrapper {
    background: $text-color;
    width: 830px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
    .legends {
      margin-left: 20px;
      font-size: 20px;
      width: 700px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}
.chart-buttons button {
  border: none;
  outline: none;
  color: $link-color;
  background: $text-color;
  font-size: 16px;
}
.main-statistics {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.general-statistics-wrapper {
  background: $text-color;
  margin-left: 30px;
  border-radius: 15px;
}
.additional-statistics {
  display: flex;
  align-items: center;
  margin-top: 30px;
  .statistics-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 830px;
  }
}
.bar-chart-wrapper {
  margin-left: 30px;
  background: $text-color;
  border-radius: 15px;
  padding: 10px;
}
.chart-legends {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
  .legend-buttons {
    button {
      border:none;
      outline:none;
      background-color: $text-color;
      padding: 0;
      margin-right: 15px;
      font-size: 12px;
      color: $legends-color ;
    }
  }
}
