@import 'styles/variables';
@import "styles/mixins";
.active{
    height:240px;
    opacity: 1;
}
.close{
    height:0;
    opacity:0;
}
.info{
    h5{
        color:$primary-color;
    }
}
.accordion{
    width: 74.5vw;
    background-color: $text-color;
    margin-left: 34px;
    transition: height 0.5s ease-out;
    margin-top:7px;
    border-radius: 7px;
    padding: 15px;

}

.close-icon{
margin-right: 40px;
@include row;
justify-content: flex-end;
}
.accordion-first-line{
width:73vw;
display:grid;
grid-template-columns: repeat(7,1fr);
margin-top:10px;

}
.accordion-second-line{
width:62.5vw;
display: grid;
grid-template-columns: repeat(6, 1fr);
margin-top:30px;
}
.accordion-end{
    @include row-space;
width:70vw;
margin-right: 0;
margin-top:40px;
.last-section{
    @include row;
    margin-left: 240px;
    a{
        font-size: 12px;
        text-decoration: underline;
    }
}

}
.send-notification-btn{
    background-color:$text-color;
    color:$primary-color;
    border:1px solid $primary-color;
    border-radius:7px;
    padding:5px 10px;
    outline:none;
    &:hover{
        background-color:$primary-color;
        color:$text-color;
        cursor:pointer;
    }
}
.more-btn{
    margin-left:20px;
}