@import "styles/variables";
@import "styles/mixins";
.different-color {
 @include row-space;
  .building-category {
    color: $text-color;
    padding: 3px 13px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .room-number {
   @include row;
    span {
      margin-left: 3px;
    }
  }
}
.cards-wrapper {
  @include column;
  overflow-y: scroll;
  height: 63vh;
  padding: 0 20px;
 
  h3 {
    font-size: 16px;
    color: #004aa1;
  }
}
.card-container {
  width: 170px;
  height: 110px;
  margin: 10px;
  position: relative;
  z-index: 1;
  &:hover {
    cursor: pointer;
  }
}
.card{
   @include column;
  width: 170px;
  height: 110px;
  padding: 10px 20px;
  border-radius: 7px;
  background-color: $text-color;
  box-shadow: 0px 0px 15px rgba(0, 74, 162, 0.2);
}
.active-card{
  height:360px;
  transition: linear;
}

.card-text {
  margin-top: 20px;
  p {
    font-size: 14px;
    line-height: 17.3px;
  }
}
.card-groups {
  @include row;
  width: 70vw;
  position: relative;
  .card-group-name {
    width: 30px;
    height:40px;
    transform: rotate(270deg);
    margin-top: 30px;
    font-size: 14px;
    color:$primary-color;
  }
}
.cards-container{
  display: grid;
  margin: 0;
  grid-template-columns: repeat(6, 1fr);
}
.card-wrapper {
  width: 190px;
  margin: 0;
}
.cards-wrapper {
  width: 80vw;
  overflow-x: hidden;
}

.card-disabled{
  background-color: $disabled-color !important;
  color: $primary-color !important;
  .room-number{
    display: none ;
  }
  .card-text{
    display:none;
  }
}
@media only screen and (max-width: 1024px) {

  .cards-wrapper {
    width: 100vw;
  }
  .card-groups{
    width:80vw;
  
  }
  .cards-container{
   grid-template-columns: repeat(5, 1fr);

  }

}
@media only screen and (max-width: 768px) {

  .cards-wrapper {
    width: 100vw;
  }
  .card-groups{
    width:70vw;
  
  }
  .cards-container{
   grid-template-columns: repeat(4, 1fr);

  }
  .card-wrapper {
    width: 180px;
    margin: 0;
  }

}